<ion-view>
    <ion-header-bar class="bar-positive" style="background: #d8ccbc;border: none;" >
        <button class="button button-clear ion-ios-cart" style="font-size: 25px; margin-left: 10px;"  ui-sref="3.shop"></button>
        <h1 class="title">我的信息</h1>
        <!--<ion-nav-buttons>-->
        <!--<button class="button button-icon ion-ios-cart button-clear"></button>-->
        <!--</ion-nav-buttons>-->
        <button class="button button-clear"  ui-sref="3.shang">继续购物</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate" style="text-align: center;background-image: url('images/bg2.jpg');background-size: 100% 100%;">
            <!--<ion-item class="item item-thumbnail-left "-->
                <img src="images/tou4.jpg" style="width: 60px;height: 60px;border-radius: 50%;"/>
                <h3 style="color: #ffffff;">取名字好麻烦</h3>
                <h4 style="color: #ffffff;">2003.10.01</h4>
            </ion-item>
            <div class="card">
                <div class="item item-text-wrap">
                    签名：  This is a basic Card which contains an item that has wrapping text.
                </div>
            </div>
        </ion-list><br><br>
        <div class="list list-inset">
            <div class="item item-divider">
                我的关注：
            </div>
            <a class="item item-avatar">
                <img src="images/tou1.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar">
                <img src="images/tou2.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" >
                <img src="images/tou.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar">
                <img src="images/tou5.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar">
                <img src="images/tou6.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" >
                <img src="images/tou.png">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div><br><br>
        <div class="list list-inset">
            <div class="item item-divider">
                热门推荐：
            </div>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/go.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/go1.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/now.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <div class="item item-divider">
                最近购买：
            </div>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/xuesan.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/kewang1.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/aiken.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>