<ion-view>
    <ion-slide-box on-slide-changed="onSlideChanged()">
        <ion-slide>
            <div class="box" style="height:100%;background-image:url('images/tu33.jpg');background-size:100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="box" style="height:100%;background-image:url('images/tu32.jpg');background-size:100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="box" style="height:100%;background-image:url('images/tu29.jpg');background-size:100% 100%;"></div>
        </ion-slide>
        <ion-slide>
            <div class="box" style="height:100%;background-image:url('images/tu30.jpg');background-size:100% 100%;"></div>
            <a ui-sref="one" id="btn">点击进入</a>
        </ion-slide>
    </ion-slide-box>
</ion-view>