<ion-view title="购物车">
    <ion-header-bar class="bar-positive" style="background: #d8ccbc;border: none;" >
        <a ui-sref="one" style="color: #ffffff;font-size: 15px;line-height: 35px;" class="ion-reply">返回商城</a>
        <h1 class="title">购物车</h1>
        <!--<ion-nav-buttons>-->
        <!--<button class="button button-icon ion-ios-cart button-clear"></button>-->
        <!--</ion-nav-buttons>-->
        <button class="button button-clear " ui-sref="me2">结账</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <!--<ion-item class="item-avatar item-remove-animate"-->
            <ion-item class="item item-thumbnail-left ">
                <img src="images/go.jpg"/>
                <h2>go</h2>
                <p>商品价格：465.00￥</p>
                <p>进口天然猫粮 ，深海鱼配方</p>
            </ion-item>
            <ion-item class="item item-thumbnail-left ">
                <img src="images/go1.jpg"/>
                <h2>go</h2>
                <p>商品价格：368.00￥</p>
                <p>进口天然猫粮 ，深海鱼配方</p>
            </ion-item>
            <ion-item class="item item-thumbnail-left ">
                <img src="images/now.jpg"/>
                <h2>now</h2>
                <p>商品价格：398.00￥</p>
                <p>进口天然猫粮 ，深海鱼配方</p>
            </ion-item>
        </ion-list>
        <!--<p>商品名称：{{product.title}}</p>-->
        <!--<p>商品价格：{{product.price | currency:"RMB ￥"}}</p>-->
        <!--<p>商品描述：{{product.desc}}</p>-->
        <!--<p><img ng-src="{{product.imgsrc}}" style="width: 100%;"></p>-->
    </ion-content>
</ion-view>