
<ion-tabs class="tabs-striped tabs-icon-top ">
        <ion-tab title="商城" icon-on="icon ion-home" icon-off="icon ion-home" ui-sref="3.shang">
            <ion-nav-view name="tab-shang"></ion-nav-view>
        </ion-tab>
        <ion-tab title="购物车" icon-on="icon ion-ios-cart" icon-off="icon ion-ios-cart-outline" ui-sref="3.shop">
                <ion-nav-view name="tab-shop"></ion-nav-view>
        </ion-tab>
        <ion-tab title="登录" icon-on="icon ion-android-contact" icon-off="icon ion-android-person" ui-sref="3.me">
                <ion-nav-view name="tab-me"></ion-nav-view>
        </ion-tab>
</ion-tabs>
