<ion-view title="喵星" >
    <ion-header-bar class="bar-positive" style="background: #d8ccbc;border: none;">
        <h1 class="title">喵星</h1>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="1000" show-pager="false">
            <ion-slide>
                <div class="box"><img src="images/suge3.jpg"> </div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/tu13.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/xianluo1.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/suge2.jpg"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="row">
            <div class="col " style="background:#424a61;color: #d03e6b; "><img src="images/tu16_03.jpg">英短</div>
            <div class="col" style="background:#424a61;color: #cc8847; "><img src="images/tu16_06.jpg">蓝猫</div>
            <div class="col" style="background-color:#47536b;color: #6386c8; "><img src="images/tu16_08.jpg">孟买猫</div>
        </div>

        <div class="row">
            <div class="col" style="background-color:#47536b;color: #607c92; "><img src="images/tu16_10.jpg">美短</div>
            <div class="col col-50" style="background-color:#d8ccbc;color: #424a61;border-radius:50%;cursor: pointer;" ui-sref="3.shang"><a  class="a1">商城</a></div>
            <div class="col" style="background-color:#4d546e;color: #ffffff; "><img src="images/tu16_14.jpg">暹罗猫</div>
        </div>

        <div class="row" >
            <div class="col" style="background-color:#5c6683; color: #ffffff;"><img src="images/tu16_28.jpg">布偶猫</div>
            <div class="col" style="background-color:#515b76; color: #cc8847;"><img src="images/tu16_20.jpg">加菲猫</div>
            <div class="col" style="background-color:#555f7a;color: #cc8847; "><img src="images/tu16_22.jpg">波斯猫</div>
            <div class="col" style="background-color:#5a6380; color: #d8ccbc;"><img src="images/tu16_25.jpg">折耳猫</div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive"  style="background: #d8ccbc;border: none;">
        <h1 class="title"></h1>
    </ion-footer-bar>
</ion-view>